<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CodeSnippetEditor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- 本部分定义 My.Application.Log 的登录配置-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消以下部分的注释，以写入应用程序事件日志-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- 取消以下部分的注释，并用应用程序名替换 APPLICATION_NAME，以写入应用程序事件日志-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <CodeSnippetEditor.My.MySettings>
            <setting name="frmmain_tphdr" serializeAs="String">
                <value>基本信息</value>
            </setting>
            <setting name="frmmain_tpimts" serializeAs="String">
                <value>导入</value>
            </setting>
            <setting name="frmmain_tpref" serializeAs="String">
                <value>引用</value>
            </setting>
            <setting name="frmmain_tpdecs" serializeAs="String">
                <value>声明</value>
            </setting>
            <setting name="frmmain_tpcodes" serializeAs="String">
                <value>代码</value>
            </setting>
            <setting name="frmmain_cbsExpansion" serializeAs="String">
                <value>允许将代码段插入到光标处</value>
            </setting>
            <setting name="frmmain_cbsSurroundsWith" serializeAs="String">
                <value>允许将此代码段放置在一段选定的代码周围</value>
            </setting>
            <setting name="frmmain_lblKeyword" serializeAs="String">
                <value>关键词:</value>
            </setting>
            <setting name="frmmain_lblHelpUrl" serializeAs="String">
                <value>帮助URL:</value>
            </setting>
            <setting name="frmmain_lblCSDesc" serializeAs="String">
                <value>代码段说明:</value>
            </setting>
            <setting name="frmmain_lblAuthor" serializeAs="String">
                <value>作者:</value>
            </setting>
            <setting name="frmmain_lblShortcut" serializeAs="String">
                <value>快捷字符串:</value>
            </setting>
            <setting name="frmmain_lblTitle" serializeAs="String">
                <value>标题:</value>
            </setting>
            <setting name="frmmain_lblCST" serializeAs="String">
                <value>代码段放置类型:</value>
            </setting>
            <setting name="frmmain_tsmiTxtAddKeyword" serializeAs="String">
                <value>关键词</value>
            </setting>
            <setting name="frmmain_tsmiEditkeyword" serializeAs="String">
                <value>编辑</value>
            </setting>
            <setting name="frmmain_tsmiTxtEditKeyword" serializeAs="String">
                <value>编辑</value>
            </setting>
            <setting name="frmmain_tsmiDelete" serializeAs="String">
                <value>删除</value>
            </setting>
            <setting name="frmmain_tsmiAddkeyword" serializeAs="String">
                <value>添加</value>
            </setting>
            <setting name="frmmain_tsmiOK" serializeAs="String">
                <value>确定</value>
            </setting>
            <setting name="frmmain_tsmiCancle" serializeAs="String">
                <value>取消</value>
            </setting>
            <setting name="frmmain_lblInf1" serializeAs="String">
                <value/>
            </setting>
            <setting name="frmmain_umbdeLiteral" serializeAs="String">
                <value>Declarations 元素中可能有零个或多个 Literal 元素</value>
            </setting>
            <setting name="frmmain_umbdeObject" serializeAs="String">
                <value>Declarations 元素中可能有零个或多个 Object 元素。</value>
            </setting>
            <setting name="frmmain_gbsObject" serializeAs="String">
                <value>定义代码段的可编辑对象(Object)</value>
            </setting>
            <setting name="frmmain_gbsLiteral" serializeAs="String">
                <value>定义代码段的可编辑文本(Literal)</value>
            </setting>
            <setting name="frmmain_tsmiFile" serializeAs="String">
                <value>文件(&amp;F)</value>
            </setting>
            <setting name="frmmain_tsmiNew" serializeAs="String">
                <value>新建(&amp;N)</value>
            </setting>
            <setting name="frmmain_tsmiOpen" serializeAs="String">
                <value>打开(&amp;O)...</value>
            </setting>
            <setting name="frmmain_tsmiSave" serializeAs="String">
                <value>保存(&amp;S)</value>
            </setting>
            <setting name="frmmain_tsmiSaveAs" serializeAs="String">
                <value>另存为(&amp;A)...</value>
            </setting>
            <setting name="frmmain_tsmiExit" serializeAs="String">
                <value>退出(&amp;X)</value>
            </setting>
            <setting name="frmmain_tsmiOptional" serializeAs="String">
                <value>视图(&amp;V)</value>
            </setting>
            <setting name="frmmain_tsmiConfig" serializeAs="String">
                <value>基本</value>
            </setting>
            <setting name="frmmain_tsmiHelp" serializeAs="String">
                <value>帮助(&amp;H)</value>
            </setting>
            <setting name="frmmain_tsmiAbout" serializeAs="String">
                <value>关于(&amp;A)...</value>
            </setting>
            <setting name="frmmain_lblInx" serializeAs="String">
                <value>IntelliSense 代码段</value>
            </setting>
            <setting name="frmmain_lbllanguage" serializeAs="String">
                <value>语言:</value>
            </setting>
            <setting name="frmmain_lblspa" serializeAs="String">
                <value>分隔符:</value>
            </setting>
            <setting name="frmmain_lblInsType" serializeAs="String">
                <value>插入方式:</value>
            </setting>
            <setting name="SnippetFileFilter" serializeAs="String">
                <value>代码段文件(*.snippet)|*.snippet|Xml 兼容格式文件|*.xml|所有文件(*.*)|*.*</value>
            </setting>
            <setting name="FileDlgInitialDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="frmmain_ofdOpenFile_Title" serializeAs="String">
                <value>打开代码段文件</value>
            </setting>
            <setting name="csDeclObject" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>String</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="csDeclLiteral" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>String</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="csAsmUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="csNamespace" serializeAs="String">
                <value/>
            </setting>
            <setting name="frmmain_sfdsavefile_title" serializeAs="String">
                <value>保存代码段文件</value>
            </setting>
            <setting name="frmmain_location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmmmain_tmsitools" serializeAs="String">
                <value>工具(&amp;T)</value>
            </setting>
            <setting name="frmmain_tsmicheckrule" serializeAs="String">
                <value>规则检查(&amp;C)</value>
            </setting>
            <setting name="frmmain_tsmiLearn" serializeAs="String">
                <value>写入检查(&amp;W)</value>
            </setting>
            <setting name="csSaveCheck" serializeAs="String">
                <value>True</value>
            </setting>
        </CodeSnippetEditor.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
